<button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
</button>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        }
        <ng-container matColumnDef="ticketNo">
            <th mat-header-cell *matHeaderCellDef> Aircraft ID </th>
            <td mat-cell *matCellDef="let element"> {{element.ticketNo}} </td>
        </ng-container>

        <ng-container matColumnDef="flight">
            <th mat-header-cell *matHeaderCellDef> Flight Number </th>
            <td mat-cell *matCellDef="let element"> {{element.flight.flightNo}} </td>
        </ng-container>

        <ng-container matColumnDef="traveler">
            <th mat-header-cell *matHeaderCellDef> Traveler Name </th>
            <td mat-cell *matCellDef="let element"> {{element.traveler.firstName}} {{element.traveler.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef> Payment </th>
            <td mat-cell *matCellDef="let element"> {{element.payment.paymentId}} : {{element.payment.dateProcessed}} </td>
        </ng-container>

        <ng-container matColumnDef="confirmationCode">
            <th mat-header-cell *matHeaderCellDef> Confirmation Code </th>
            <td mat-cell *matCellDef="let element"> {{element.confirmationCode}} </td>
        </ng-container>

        <ng-container matColumnDef="ticketPrice">
            <th mat-header-cell *matHeaderCellDef> Ticket Price</th>
            <td mat-cell *matCellDef="let element"> {{element.ticketPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="ticketClass">
            <th mat-header-cell *matHeaderCellDef> Ticket Class </th>
            <td mat-cell *matCellDef="let element"> {{element.ticketClass}} </td>
        </ng-container>

        <ng-container matColumnDef="dateIssued">
            <th mat-header-cell *matHeaderCellDef> Date Issued </th>
            <td mat-cell *matCellDef="let element"> {{element.dateIssued}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <mat-cell *matCellDef="let row">
                <button mat-button color="primary" (click)="onEdit(row)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteCheck(row)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>
