<div>
    <mat-tab-group>  

        <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon>cottage</mat-icon>
                <span>Home</span>
            </ng-template>
            <ng-template matTabContent>
                <h2 class="mb-4">User Home</h2>
                <p><strong>AccountNumber:</strong> {{this.currentUser.accountNumber}}</p>
                <p><strong>User Name:</strong> {{this.currentUser.username}}</p>
                <p *ngIf="(this.currentUser.roleId)"><strong>Privilage:</strong> {{this.currentUser.roleId.roleType}}</p>
                <p><strong>Email:</strong> {{this.currentUser.email}}</p>
            </ng-template>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon>flight</mat-icon>
                <span>Flights</span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-flights></app-user-flights>
            </ng-template>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon>airplane_ticket</mat-icon>
                <span>Ticket History</span>
            </ng-template>
            <ng-template matTabContent>
                <app-user-ticket-history></app-user-ticket-history>
            </ng-template>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon>flight_land</mat-icon>
                <span>Flight History</span>
            </ng-template>
            <ng-template matTabContent>
                <app-user-flight-history></app-user-flight-history>
            </ng-template>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon>shopping_basket</mat-icon>
                <span>Checkout( {{this.currentCart.length||0}} )</span>
            </ng-template>
            
            <ng-template matTabContent>
            <app-user-checkout></app-user-checkout>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    
</div>
