<div>
    <mat-tab-group>  

       
        <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon>flight</mat-icon>
                <span>Flights</span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-flights></app-user-flights>
            </ng-template>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon>next_week</mat-icon>
                <span>Your Upcoming Flights</span>
            </ng-template>
            <ng-template matTabContent>
                <h2 class="mb-4">Upcoming flights for {{this.currentUser.username}} <i>(placeholder data)</i> </h2>
               <!-- PlaceHolder UNtil Upcomming flights are done -->
                <app-user-flight-history></app-user-flight-history>
            </ng-template>
        </mat-tab>
            <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon>shopping_basket</mat-icon>
                <span>Checkout( {{this.currentCart.length||0}} )</span>
            </ng-template>
            
            <ng-template matTabContent>
            <app-user-checkout></app-user-checkout>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    
</div>
