
    <div class="mat-elevation-z8">
        <table class="w-100" mat-table matSort [dataSource]="dataSource" multiTemplateDataRows *ngIf="(this.hasFlightHistroy)">
    

            <ng-container matColumnDef="flightNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight No </th>
                <td mat-cell *matCellDef="let element"> #{{element.flightNo}} </td>
            </ng-container>
    
    
            <ng-container matColumnDef="flightGate">
                <th mat-header-cell *matHeaderCellDef> Flight Gate </th>
                <td mat-cell *matCellDef="let element"> {{element.flightGate}} </td>
            </ng-container>
    
    
            <ng-container matColumnDef="departure">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure </th>
                <td mat-cell *matCellDef="let element"> {{element.departure | date:'medium' }} </td>
            </ng-container>
            <ng-container matColumnDef="from">
                <th mat-header-cell *matHeaderCellDef> From </th>
                <td mat-cell *matCellDef="let element"> {{element.airportArrival.city}} </td>
            </ng-container>
            <ng-container matColumnDef="to">
                <th mat-header-cell *matHeaderCellDef> To </th>
                <td mat-cell *matCellDef="let element"> {{element.airportDeparture.city}} </td>
            </ng-container>
    
            <ng-container matColumnDef="arrival">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival </th>
                <td mat-cell *matCellDef="let element"> {{element.arrival | date:'medium' }} </td>
            </ng-container>
    
            <ng-container matColumnDef="basePrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Base Price </th>
                <td mat-cell *matCellDef="let element"> {{element.basePrice | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
    
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Options </th>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="flightOptions()">
                        <mat-icon>history_edu</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

                        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
      
        <div class="example-element-description">
           
            <div><strong>Flight:</strong> #{{element.flightNo}} </div>
            <div class="tab"><strong>Status:</strong> {{element.status}}</div>  
            <div class="tab"> <strong>Start:</strong> {{element.departure | date:'medium' }} <strong>End:</strong> {{element.arrival | date:'medium'}}</div>
            <div class="tab"> <strong>From:</strong> {{element.airportDeparture.city }}, {{element.airportDeparture.airportName }} <strong>To:</strong> {{element.airportArrival.city}}, {{element.airportArrival.airportName}}</div>
            <div class="tab"> <strong>Base Price:</strong> {{element.basePrice | currency}}</div>
            <div><strong>Aircraftname:</strong> {{element.aircraft.aircraftType.aircraftTypeName}}</div>
            <div class="tab"><strong>Aircraft Id:</strong> {{element.aircraft.aircraftId}}</div>
            <div class="tab"><strong>Max Seats:</strong> {{element.aircraft.aircraftType.seatMaximum}}</div>  
            <div class="tab"><strong>Seat Count:</strong> {{element.aircraft.seatCount}}</div>  
            <div class="tab"><strong>First Class Seats:</strong> {{element.aircraft.firstClassCount}}</div>  
            <div class="tab"><strong>Second Class Seats:</strong> {{element.aircraft.secondClassCount}}</div>  
            <div class="tab"><strong>Third Class Seats:</strong> {{element.aircraft.thirdClassCount}}</div>  
            <span class="example-element-description-attribution"> -- Utopia Airlines </span>
        </div>
      </div>
    </td>
  </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                 class="example-element-row"
                 [class.example-expanded-row]="expandedElement === element"
                 (click)="expandedElement = expandedElement === element ? null : element">
                 </tr>
                 <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <div *ngIf="!(this.hasFlightHistroy)">
            <h2> No Flight History Yet</h2>
        </div>
        <div *ngIf="(this.loading)">
            <h2> Loading...</h2>
        </div>
    </div>

