<div>


<div *ngIf="this.authService.isLoggedIn; else logged ">
        <span>
            <h2 class="mb-4">Welcome to Utopia {{this.username}}</h2>
            <p><strong>User Name:</strong> {{this.username}}</p>
            <p hidden><strong>Privilage:</strong> {{this.roleType}}</p>
            <p *ngIf="this.email!=null"><strong>Email:</strong> {{this.email}}</p>
        </span>
</div>



<ng-template #logged>
    <div>
        <h2 class="mb-4">Welcome to Utopia. You are not logged in.</h2>
    </div>
</ng-template>
</div>