div {
    width: 90%;
    margin: auto;
}

table {
    width: 90%;
    table-layout: auto;
  }
  
  th, td {
    width: 15%;
  }

.header-align-right {
    text-align: right;
    justify-content: flex-end;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .create-button {
    width: 8%;
  }
  .mat-table {
    overflow: auto;
  }

  .mat-row{ 
    border-style : unset;
    align-items: flex-end;
  }

  .mat-header-row{ 
    border-style : unset;
  }
  
  .mobile-label {
    display: none;
  }

  
  
  @media(max-width: 1200px) {
    .mobile-label {
      width: 140px;
      display: block;
    }

    .mat-sort-header-container {
      width: 100px;
    }

    ::ng-deep .mat-sort-header-container {
      width: 200px;
    }

  }

  .loading-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 13%;
    padding-right: 13%;
    z-index: 5;
  }

  .checkbox-section {
    display: block;
    align-content: center;
    align-items: center;
    padding-bottom: 2%;
  }

  .checkbox-margin {
    padding-left: 4%;
  }