

    
    <div >
            <span>
                <h2 class="mb-4">Admin Profile</h2>
                <p><strong>User Name:</strong> {{this.username}}</p>
                <p ><strong>Privilege:</strong> {{this.roleType}}</p>
                <a class="edit-button" 
                mat-button routerLink="/admin/profile/edit"><mat-icon>edit</mat-icon> Edit</a>
                <!-- <p><strong>User Name:</strong> {{this.currentUser.username}}</p>
                <p *ngIf="(this.currentUser.roleId)"><strong>Privilage:</strong> {{this.currentUser.roleId.roleType}}</p>
                <p><strong>Email:</strong> {{this.currentUser.email}}</p> -->
            </span>
        <!-- </ng-template> -->
    </div>
    
    

