<div *ngIf="!this.authService.isLoggedIn; else loggedIn ">
<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="center">
        <h2>Log In</h2>
        <mat-error *ngIf="this.wrongCred">
          The username and/or password were not recognised
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" formControlName="username" required>
          <!-- <mat-error>
            Please provide a valid email address
          </mat-error> -->
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <!-- <mat-error>
            Please provide a valid password
          </mat-error> -->
        </mat-form-field>
        <button disabled={{!this.form.valid}} mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loggedIn>  
  <div>
    <meta http-equiv="refresh" content="0; URL='/home'" [routerLink]="'/home'" />
    <!-- Should only be able to apear briefly after logging in-->
    <h2>Please wait a moment.</h2>
    <!-- <h2>You are already logged in.</h2> -->
  </div>
</ng-template>