<div class="loginMini-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="center">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
          </mat-card-header>
          <mat-error *ngIf="this.wrongCred">
            The username and/or password were not recognised
          </mat-error>
          <mat-form-field class="example-full-width" >
            <input matInput placeholder="Username" formControlName="username" autocomplete="off" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width" >
            <input matInput placeholder="Password" formControlName="password" autocomplete="off" required>
          </mat-form-field>
        </mat-card-content>
        <button disabled={{!this.form.valid}} mat-raised-button color="primary">Login</button>
        <!-- <button mat-stroked-button color="accent" class="btn-block">Log in</button> -->

