<div>
    <!-- <p>home works!</p>
    <p>
        <a routerLink="/login">Login</a>
    </p> -->
    
    <div *ngIf="this.authService.isLoggedIn; else notlogged ">
        <!-- <div *ngIf="!this.currentUser.username; else loaded ">
            <h2 class="mb-4">Loading...</h2>
        </div> -->
        <!-- <ng-template #loaded> -->
            <span>
                <h2 class="mb-4">User Profile</h2>
                <p><strong>User Name:</strong> {{this.username}}</p>
                <p ><strong>Privilage:</strong> {{this.roleType}}</p>
                <p><strong>Email:</strong> {{this.email}}</p>
                <!-- <p><strong>User Name:</strong> {{this.currentUser.username}}</p>
                <p *ngIf="(this.currentUser.roleId)"><strong>Privilage:</strong> {{this.currentUser.roleId.roleType}}</p>
                <p><strong>Email:</strong> {{this.currentUser.email}}</p> -->
            </span>
        <!-- </ng-template> -->
    </div>
    
    
    
    <ng-template #notlogged>
        <div>
            <h2 class="mb-4">You do not have Permission to view this page</h2>
        </div>
    </ng-template>
    </div>