.submit-button {
    color:white;
    background-color: #C62828;
}
.submit-button:hover {
    color: rgb(35, 204, 219);
  
}

.submit-button:disabled {
    background-color:darkgray;
  
}

.submit-button:disabled:hover {
    background-color:darkgray;
     color: grey; 
}

.flexExpand {
    flex: 1 1 auto;
}

  .center{
    /* flex: 1 1 auto; */
    /* align-content: right; */
    /* right: 200px; */
    float: center;
    text-align: center;
  }

  mat-card {
    max-width: 400px;
    margin: 2em auto;
    margin-top: 0em;

  }
  
  mat-form-field {
    display: block;
  }