<mat-tab-group>
    <mat-tab label="Flights">
        <ng-template matTabContent>
            <app-admin-flight></app-admin-flight>
        </ng-template>
    </mat-tab>
    <mat-tab label="Airports">
        <ng-template matTabContent>
            <app-admin-airport></app-admin-airport>
        </ng-template>
    </mat-tab>
    <mat-tab label="Aircraft">
        <ng-template matTabContent>
            <app-admin-aircraft></app-admin-aircraft>
        </ng-template>
    </mat-tab>
    <mat-tab label="Aircraft Types">
        <ng-template matTabContent>
            <app-admin-aircraftType></app-admin-aircraftType>
        </ng-template>
    </mat-tab>
    <mat-tab label="Accounts">
        <ng-template matTabContent>
            <app-admin-account></app-admin-account>
        </ng-template>
    </mat-tab>
    <mat-tab label="Travelers">
        <ng-template matTabContent>
            <app-admin-traveler></app-admin-traveler>
        </ng-template>
    </mat-tab>
    <mat-tab label="Tickets">
        <ng-template matTabContent>
            <app-admin-ticket></app-admin-ticket>
        </ng-template>
    </mat-tab>
</mat-tab-group>
