<mat-card class="card">
    <form class="form-container">

        <mat-form-field appearance="fill">
            <mat-label>Confirmation Code </mat-label>
            <input matInput [formControl]="confirmationCode" type="number" required>
            <mat-error *ngIf="confirmationCode.invalid">
                {{getErrorMessage(1)}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Flight</mat-label>
            <mat-select [(ngModel)]="selectedFlight" name="flight" [compareWith]="compareFunctionFlight" required>
                <mat-option *ngFor="let flight of flights" [value]="flight">
                    {{flight.flightNo}} : {{flight.flightGate}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="flightCheck.invalid">
                {{getErrorMessage(2)}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Traveler</mat-label>
            <mat-select [(ngModel)]="selectedTraveler" name="traveler" [compareWith]="compareFunctionTraveler" required>
                <mat-option *ngFor="let traveler of travelers" [value]="traveler">
                    {{traveler.firstName}} {{traveler.lastName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="travelerCheck.invalid">
                {{getErrorMessage(3)}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Payment</mat-label>
            <mat-select [(ngModel)]="selectedPayment" name="payment" [compareWith]="compareFunctionPayment" required>
                <mat-option *ngFor="let payment of payments" [value]="payment">
                    {{payment.paymentId}}: ({{payment.dateProcessed}})
                </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentCheck.invalid">
                {{getErrorMessage(4)}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Ticket Price </mat-label>
            <input matInput [formControl]="ticketPrice" type="number" required>
            <mat-error *ngIf="ticketPrice.invalid">
                {{getErrorMessage(5)}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ticket Class</mat-label>
            <mat-select [formControl]="ticketClass" required>
                <mat-option [value] = 1> First Class </mat-option>
                <mat-option [value] = 2> Second Class </mat-option>
                <mat-option [value] = 3> Third Class </mat-option>
            </mat-select>
            <mat-error *ngIf="ticketClass.invalid">
                {{getErrorMessage(6)}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date Issued</mat-label>
            <input matInput [matDatepicker]="picker2" [formControl]="dateIssued" readonly required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="dateIssued.invalid">
                {{getErrorMessage(7)}}
            </mat-error>
        </mat-form-field>

    </form>
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="formSubmit()" class="button">
            Submit
        </button>
        <mat-error>
            {{getSubmitMessage()}}
        </mat-error>
    </div>
</mat-card>
